:root {
	--largura-conteudo: 60vw;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: bold;
}

h1, h2 { 
	text-align: left;
}

main {
	margin-top: 2rem;
}

.container {
	width: var(--largura-conteudo); margin-left: auto; margin-right: auto;
}

form {
	margin-top: 1rem;
}

footer {
	margin-top: 3rem; padding: 1rem 1rem;
	border-top: 1px solid #dadada; 
}