body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  height: 10vh; background-color:beige;
  display:flex; flex-direction: column; justify-content:center; align-items:center;
}

main {
  height: 78vh; background-color: gainsboro;
  display:flex; flex-direction: column; justify-content:center; align-items:center;
}

footer {
  height: 10vh; background-color:beige;
  display:flex; justify-content:center; align-items:center;
}
